/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.navy {
  color: #001b44;
}
.bg-washed-yellow {
  background-color: #fffceb;
}

.px {
  font-family: Pixellari;
}

.clear .weather-icon {
  background: url("/sunny.png") center center no-repeat;
  width: 123px;
  height: 257px;
  background-color: white;
}

.dust .weather-icon {
  background: url("/sunny.png") center center no-repeat;
  width: 123px;
  height: 257px;
  background-color: white;
}

.mist .weather-icon {
  background: url("/cloudy.png") center center no-repeat;
  width: 123px;
  height: 257px;
  background-color: white;
}

.windy .weather-icon {
  background: url("/cloudy.png") center center no-repeat;
  width: 123px;
  height: 257px;
  background-color: white;
}

.clouds .weather-icon {
  background: url("/cloudy.png") center center no-repeat;
  width: 123px;
  height: 257px;
  background-color: white;
}

.snow .weather-icon {
  background: url("/snow.png") center center no-repeat;
  width: 123px;
  height: 257px;
    background-color: white;
}

.rain .weather-icon {
  background: url("/rain.png")center center no-repeat;
  width: 123px;
  height: 257px;
    background-color: white;
}

.hot .weather-icon {
  background: url("/sunny.png") center center no-repeat;
  width: 123px;
  height: 257px;
  background-color: white;
}

@font-face {
  font-family: Pixellari;
  src: url(fonts/Pixellari.ttf);
}

@media (min-width: 600px) {
  .grid1 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 5px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-gap: 5px;
  }
}
